﻿@model IEnumerable<ASp.netcore_EFCore.ViewModel.EmployeeViewmodel>
<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />


@{
    ViewData["Title"] = "Index";
}


<div class="row"><a asp-action="Employee" asp-controller="Employee" class="float-right  btn btn-primary">Add to List</a></div>
<div class="row">
    <table class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0" id="example">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Name")
                </th>
                <th>
                    @Html.DisplayName("Age")
                </th>
                <th>
                    @Html.DisplayName("BirthDate")
                </th>

                <th>
                    @Html.DisplayName("Username")
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.ToList().Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Age)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BirthDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Employee", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "delete", new { id = item.Id }, new { onclick = "return confirm('Are you sure wants to delete?');" })
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>
                        @Html.Label("No Data Found")
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<partial name="_PartialName.cshtml" />

@section scripts
{
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

    <script type="text/javascript">

        $('#view_Detail_Id').click(function () {
            alert(this.val);
            $.ajax({
                type: "get",
                url: "~/Employee/ViewDetail/",
                data: { id: '"' + val + '"' },
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    console.log(data);
                },
                error: function () {
                    alert("Error occured!!")
                }
            });
        });

        $(document).ready(function () {
            $("#example").DataTable({
                //"serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false,
                "pagingType": "full_numbers"
            });
        });
        $.fn.dataTable.ext.classes.sPageButton = 'button primary_button';
    </script>
}
